body
{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    background-color: lightskyblue;
    opacity: .8;
}

a
{
    cursor: pointer;
    text-decoration: none;

    color: black;
}

h2
{
    font-size: 36px;
    line-height: .5;
}

input[type=text] {
   border: 5px solid lightskyblue;
   color: black;
    background-color: RGBA(254, 253, 203, .2);
    padding: 15px;
    margin: 0px 5px 0px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1);
-moz-box-shadow: 2px 2px 2px 0px rgba(179,179,179,1);
box-shadow: 2px 2px 2px 0px rgba(179,179,179,1);
}

input[type="checkbox"] {
 
}

input[type="checkbox"] + label span {

}


button {
  padding: 5px;
  border-radius: 4px;
background-color: RGBA(254, 253, 203, .2);

  text-decoration:none;
}



.item-wrapper
{

    padding: 3% 5% 3%;
    width: 50%;
    margin-left: 20%;
    background-color: white;
    background-image: url("../img/concrete_seamless.png");
    border: 3px solid lightslategray;
  /*  border-right: 2px solid lemonchiffon;
    border-bottom: 2px solid lemonchiffon;
    border-left: 3px solid lightslategray;*/
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(255,250,205,1);
       -moz-box-shadow: 2px 2px 2px 0 rgba(255,250,205,1);
            box-shadow: 2px 2px 2px 0 rgba(255,250,205,1);
}


.title
{
    font-family: 'Chewy', cursive;
  font-size: 45px;
  margin-left: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
}

.list-item
{
    margin-left: 0;
    padding-left: 0;
    font-size: 20px;
}

.new-input
{

    font-family: 'Abel', sans-serif;
    font-size: 19px;
}

.entered-item {

     margin-left: 0;
    padding-left: 0;
    font-size: 20px;
}

.complete-true
{
    transition: 10ms;
    text-decoration: line-through;
}

.delete-item
{
    padding-left: 3px;
}

a.delete-item:hover
{
    transition: 15ms;

    color: maroon;
}

.add-btn
{
    padding: .5% .75%;
    color: black;
   
}

.add-btn:hover
{
    transition: 15ms;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.75);
       -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.75);
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,.75);
}

.home-btn
{
    margin-left: -1%;
    padding: .9%;

    color: black;
 
}

.home-btn:hover
{
    transition: 15ms;

    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.75);
       -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.75);
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,.75);
}
.item-name
{
    font-family: 'Chewy', cursive;

    letter-spacing: .75px;

    color: cornflowerblue;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 139, .8);
}

.item-detail-info
{
    margin-left: 1%;
}


/*MEDIA QUERIES*/


