<div class="list-wrapper" ng-controller="ItemsController as itemCtrl">
  <form ng-submit="itemCtrl.addItem()" class="item-wrapper">

  
    <ul class="entered-item" ng-repeat="item in itemCtrl.items.data" >
       <h3>
         <input class="checkBox" type ="checkbox" ng-click="itemCtrl.completeItem($index)" ng-model="items.data[index].complete"/>
         
         <a class="complete-{{items.data[index].complete}}" href="#/items/item-detail/{{$index}}" ng-click="itemCtrl.getId($index)">{{item.title}}</a>

         <a ng-click="itemCtrl.deleteItem($index)" class="delete-item">
          <i class="fa fa-times fa fa-lg"></i>
        </a>
      </h3>
   </ul>


  
    <ul class="list-item">
      
      <h3>
        <input class="new-input" type="text" value="ItemName" ng-model="itemCtrl.newItemName"  placeholder="add toDo..">
        <button class="add-btn" ng-disabled="!itemCtrl.newItemName">
          <i class="fa fa-plus  fa-2x"></i>
        </button>
      </h3>
    </ul>

  </form>
</div>
