<div class="list-wrapper" ng-controller="ItemsController as itemCtrl">
  <form ng-submit="itemCtrl.addItem()" class="item-wrapper">

  
    <ul class="entered-item list-item" ng-repeat="item in itemCtrl.items.data" >
   
        <!--  <div class="checkbox">
          
         <input class="check" type ="checkbox" ng-click="itemCtrl.completeItem($index)" ng-model="items.data[index].complete"/>
          <label for="check"><a class="complete-{{items.data[index].complete}}" href="#/items/item-detail/{{$index}}" ng-click="itemCtrl.getId($index)"/>{{item.title}}</a></label>
         <a ng-click="itemCtrl.deleteItem($index)" class="delete-item">
          <i class="fa fa-times fa fa-lg"></i>
        </a>
           
         </div> -->

        <!--  <a class="complete-{{items.data[index].complete}}" href="#/items/item-detail/{{$index}}" ng-click="itemCtrl.getId($index)">{{item.title}}</a> -->

    <!-- .squaredFour -->
    <div class="checky">
      <input class="checky" type="checkbox" value="None" id="checky" name="checky" checked ng-click="itemCtrl.completeItem($index)" ng-model="items.data[index].complete" /><label for="checky"></label>
      <a class="complete-{{items.data[index].complete}} item-list-name" href="#/items/item-detail/{{$index}}" ng-click="itemCtrl.getId($index)"/>{{item.title}}</a>
         <a ng-click="itemCtrl.deleteItem($index)" class="delete-item">
          <i class="fa fa-times fa fa-lg"></i>
        </a>
    </div>
      
   </ul>


    

  
    <ul class="list-item">
      
      <h3>
        <input class="new-input" type="text" value="ItemName" ng-model="itemCtrl.newItemName"  placeholder="add toDo..">
        <button class="add-btn" ng-disabled="!itemCtrl.newItemName">
          <i class="fa fa-plus  fa-2x"></i>
        </button>
      </h3>
    </ul>

  </form>
</div>
